.container2 {
    width: 100%;
    max-width: 1440px;
    padding-left: 0;
}

.day-content.camp.show-overflow {
    overflow: visible;
}

.day-content.manifest {
    background-color: var(--blue);
}

.day-content.manifest.show-overflow {
    overflow: visible;
}

.container-14.manifest {
    background-color: var(--blue);
}

.container-15 {
    max-width: none;
    justify-content: center;
    margin-top: 40px;
    display: flex;
}

.extra-ticket-item {
    width: 33.33%;
    height: 100%;
    min-height: 100%;
    object-fit: fill;
    padding: 13px;
    overflow: visible;
}

.heading-12 {
    min-width: 200px;
    text-align: center;
    object-fit: fill;
    font-size: 18px;
    line-height: 1.6vw;
    position: static;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
}

.heading-12.move-left {
    transform: translate(-50px);
}

.flex-block-11 {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.split-price-wrap {
    width: 100%;
    border-left-style: none;
    justify-content: center;
}

.split-price-wrap-camp,
.split-price-wrap-lo {
    width: 100%;
    border-left-style: solid;
    justify-content: center;
}

.tickets-h1-contain {
    margin-top: 40px;
}

.w-layout-blockcontainer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.w-container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.w-container:before,
.w-container:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}

.w-container:after {
    clear: both;
}

.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px;
}

.container-12 {
    max-width: none;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 3px solid var(--navy-blue);
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
}



.calendar-day-label {
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
}

.calendar-day-label.strikethrough {
    text-decoration: line-through;
}

.calendar-day-wrap {
    min-height: auto;
    border: 3px none var(--navy-blue);
    background-color: var(--wheat);
    border-radius: 2px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    display: flex;
    position: relative;
}

.calendar-day-wrap.middle-ticket-wrap {
    min-height: 100%;
    padding-bottom: 50px;
}

.calendar-label-wrap {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    border-style: none solid solid none;
    border-width: 0 3px 3px 0;
    border-color: var(--navy-blue);
    background-color: var(--old-lace);
    justify-content: center;
    padding: 0 10px;
    display: flex;
    position: static;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
}

.calendar-label-wrap.last-label-wrap {
    border-right-width: 0;
    justify-content: center;
}

.day-content {
    width: 100px;
    height: 100px;
    max-width: none;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.day-content.lo {
    background-color: var(--old-lace);
}

.day-content.lo.last-day {
    border-right: 3px solid var(--navy-blue);
}

.day-content.lo.show-overflow {
    overflow: visible;
}

.day-content.camp {
    background-color: var(--goldenrod);
}

.day-content.camp.show-overflow {
    overflow: visible;
}

.day-content.manifest {
    background-color: var(--blue);
}

.day-content.manifest.show-overflow {
    overflow: visible;
}

.container-14 {
    width: 140px;
    height: 100px;
    max-width: none;
    min-width: 250px;
    border-bottom: 3px solid var(--navy-blue);
    position: static;
    transform: translate(70px)rotate(135deg);
}

.container-14.lo {
    background-color: var(--old-lace);
}

.container-14.manifest {
    background-color: var(--blue);
}

