body {
  font-family: verdigris-mvb-pro-text, serif;
  /* max-width: 1100px; */
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #666666;
}

@media (max-width: 800px) {
  body {
    padding: 15px;
  }
}


a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 50%;
}

p, li {
  font-family: verdigris-mvb-pro-text, serif;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 1em;
}

li {
  margin-bottom: 0.3em;
}

aside {
  font-size: 16px;
}

p a {
  color: #ebba57
}

h1 {
  font-size: 72px;
  margin-bottom: 5px;
  line-height: 1.3;
  font-weight: 300;
  letter-spacing: 0.1em;
  /* color: rgba(50,50,50); */
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  z-index: 5;
  position:relative;
  /* flex-wrap: wrap; */
}
@media screen and (max-width: 750px) {
  .navbar-title {
    display:none;
  }
}

.logo {
  display:flex;
  /* align-content: center; */
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.logo-image {
  /*     transform: rotate(90deg); */
    width: 30px
  }
.CTA-button-navbar, .CTA-button-chat {
  background: none;
  border: 0px;
  opacity: 50%;
  font-style: italic;
  display: inline-block;
  flex-shrink: 0;
}

.CTA-button-center {
  display: inline-block;
  background: rgb(188, 120, 36);
  border: 0px solid;
  opacity: 50%;
  /* font-style: italic; */
  padding: 24px;
  border-radius: 6px;
  margin-top: 16px;
  margin-bottom: 24px;
  color: white;
  text-transform: uppercase;

  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.CTA-button-center:hover {
  opacity: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.CTA-button {
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px;
}

.CTA-button.primary {
  background: rgb(188, 120, 36);
  color: #FFFFFF;
  margin-right: 10px;
}

.CTA-button.secondary {
  border: solid 1px rgb(188, 120, 36);
  color: rgb(188, 120, 36);
  margin-right: 10px;
  background: white;;
}

.top-image {
  width: 250px;
  height: 250px;
  margin-bottom: 36px;
}

.splash-image {
  width: 850px;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 700px) {
  .splash-image {
    width: 100%;
  }
}


.splash-section {
  margin-top: -88px;
  margin-bottom: 0px;
}

.splash-text {
  width: 420px;
  top: 600px;
  left: calc(50% - 360px);
  position: absolute;
  text-align: center;
}

@media (max-width: 900px) {
  .splash-text {
    top: 525px;
  }
}
@media (max-width: 800px) {
  .splash-text {
    top: 450px;
  }
}
@media (max-width: 750px) {
  .splash-text {
    position: relative;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    margin-bottom: 50px;
    width:100%; 
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 50px;
  }
}

.splash-title {
  font-size: 50px;
}

.campus-image {
  width: 40%;
  margin-right: 50px;
  margin-top:auto;
  margin-bottom:auto;
}

.cta-row {
  margin-top: 40px;
}

.banner-section {
  display: flex;

  row-gap: 12px;
  column-gap: 50px;
  /* flex-flow: row wrap; */
  align-items: flex-end;
  flex-wrap: wrap;
  /* align-content: center; */
  /* justify-items: center; */
  justify-content: center;
}
.text-section {
  width: 60%;
  max-width: 550px;
  padding-top: 50px;
  flex: 3.5;
  min-width: 300px;
}

@media (max-width: 650px) {
  .CTA-button-navbar {
      display: none;
  }
}

h2 {
  font-family: verdigris-mvb-pro-text, serif;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgb(80 80 80 / 80%);
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-family: verdigris-mvb-pro-text, serif;
  font-style: normal;
  font-size: 23px;
  line-height: 25px;
  font-weight: 500;
  color: #666666;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 50px;
  margin-top: 60px;
}

.content-area {
  display: flex;
  flex-direction: column;
}

.event {
  display: flex;
  flex-direction: column;
  padding: 16px;
  /* box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.1); */
  border-radius: 15px;
  max-width: 300px;
  min-width: 300px;
  flex: 1;
}

.event p {
  font-size:18px;
}

.events {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

h4 {
  font-family: verdigris-mvb-pro-text, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color:  rgb(209, 164, 109);
  margin-bottom: 15px;
  fill: hsl(40deg 79% 52%);
}

.center-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.center-section h2 {
  text-align: center;
}

.event button {
  margin-top: auto;
  border: 0px;
  background: none;
  color: #ebba57;
  padding: 0px;
}

.event h4 {
  display: flex;
  align-items: center;
}

.event-posting {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.event img {
  height: 300px;
  width: 300px;
  margin-left: 0px;
  padding-bottom: 24px;
  object-fit: cover;
}

.event-posting h1 {
  margin-top: 50px;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
}

.member {
  /* width: 250px; */
  max-width: 320px;
  min-width: 250px;
  flex: 1;
  display: block;
}
.buildings {
  margin-bottom:auto;
  margin-top:auto;
}

.buildings p, .buildings li {
  font-size: 18px;
}
.buildings li {
  position: relative;
  list-style-type: none;
}

.buildings li::before {
  content: ''; /* Empty content */
  width: 7px; /* Square size */
  height: 7px; /* Square size */
  border-radius:50%;
  background: #aaa; /* Color of the square */
  font-size: 20px; /* Adjust size as needed */
  position: absolute;
  left: -25px; /* Adjust position as needed */
  top: 50%;
  transform: translateY(-50%);
}

.buildings b {
  font-variant: small-caps;
  font-size: 18px;
  font-weight:500;
}

.photo-row {
  margin-left:-30px;
  margin-right:-30px;
  display: flex;
  justify-content: center;
  margin-top:0px;
  max-height: 680px;
  overflow: hidden;
  margin-bottom:20px;
}

.photo-link {
  min-width: 320px;
  width: 320px;
  height: 340px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.photo-link:hover {
  opacity:1;
}

.event-photo {
  width: 300px;
  height: 300px;
  transition: all 0.2s ease-in-out;
  margin: 20px;
  border-radius:5px;
}

.photo-row-wide {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  width: 1500px;
  justify-content: center;
}

.photo-wide {
  min-width: 320px;
  width: 320px;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out; 
  margin: 20px;
  border-radius:5px;
}
.photo-mosaic {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 210px; /* Adjusted to set a minimum row height */
  grid-gap: 10px; /* Adjusted the grid gap to ensure it's not larger than 10px */
  margin: 0 auto; /* Adjusted to center the content horizontally */
  max-width: 1350px;
  padding: 10px; /* Added padding to ensure content is not against the container edges */
}

.photo-mosaic .small {
  width: 100%; /* Adjusted to ensure the content scales with the grid */
  height: 100%; /* Adjusted to ensure the content scales with the grid */
  object-fit: cover;
  border-radius: 5px;
}

.large {
  grid-column: span 2; 
  grid-row: span 2;    
  width: 100%; /* Adjusted to ensure the content scales with the grid */
  height: 100%; /* Adjusted to ensure the content scales with the grid */
  object-fit: cover;
  border-radius: 5px;
}

.photo:hover {
  opacity:.8  ;
  /* width: 310px;
  height: 310px; */
}

/* Styles for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#prev-button,
#next-button {
  cursor: pointer;
  font-size: 32px;
  padding: 10px;
  margin: 0 20px;
}

/* Style for the close button */
.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.modal-photo {
  max-height:95vh;
}

@media (max-width: 500px) { 
  .CTA-button-navbar {
      display: none;
  }
}
@media (max-width: 735px) {
  .photo-link {
    width: 170px;
    height: 180px;
    min-width:170px;
    margin: 8px;
  }

  .p {
    font-size: 18px;
  }

  .photo {
    width: 170px;
    object-fit: contain;
    height: auto;
    margin: 8px;
  }

  .event {
    flex-direction: row;
    align-items: center;
    max-width: unset;
    padding: 4px;
  }

  .event img {
    width: calc(50% - 36px);
    height: auto;
    margin-right: 24px;
  }

  .event p {
    font-size: 16px;
  }

  .campus-image {
    width: calc(100% - 30px);
  }
}

.end-logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 75px;
  width: 80px;
  height: 80px;
  opacity: .5
}

.testimonials {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
.testimonial {
  max-width: 35%;
  padding: 24px 48px;
  background: #efefef;
  color:rgba(0, 0, 0, 0.8);
  padding: 36px 36px 30px 36px;
  margin: 24px;
  border-radius:5px;
}
.testimonial p:last-of-type {
  margin-bottom: 0px;
  color: #888;
}

.testimonial p {
  font-size: 18px;
  /* color: #888; */
}
.testimonial-author {
  text-align: right;
}
@media (max-width: 1000px) {
  .testimonial {
    margin: 16px;
    max-width: 50%;
  }
}
@media (max-width: 750px) {
  .testimonial {
    max-width: 100%;
    margin:0;
    padding: 24px;
  }
}

.hero-video {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.schelling-splash-image {
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: -1;
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  height: 100vh;
  z-index: -1;
  /* filter: brightness(0.8); */
}

.white-gradient-down {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  z-index: 1;
}

.white-gradient-up {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  z-index: 1;
}

.schelling-title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: white;
}

.after-hero {
  margin-top: 100vh;
}
.schelling-season-section {
  max-width: 900px;
  margin: 0 auto;
  /* margin-top: 80px; */
  padding: 24px;
  /* color: white; */
  color: black;
}
.center-text {
  text-align: center;
}
.schelling-season-section h2 {
  text-align: center;
}

.sticky {
  position: sticky;
  top: 64px;
}

.schelling-splash-text {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  text-align: center;
  margin-bottom: 48px;
}

.schelling-cta-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.schelling-title-h1 {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
  line-height: 1;
  /* font-weight: bold; */
  /* color: white; */
  /* text-shadow: 0 0 4px #f18c15, 0 0 4px #f2a741, 0 0 4px #3b3d3f; */
}

.schelling-season-background {
  background: url('public/schelling-splash.jpg')
}

.opening-text {
  line-height: 1.5em;
  max-width: 500px;
  margin: auto;
  margin-bottom: 25px;
  font-size: 18px;
  padding: 10px;
  /* color: white; */
  text-shadow: 0 0 5px white;
  text-align: justify;
  font-family: verdigris-mvb-pro-text, serif;
  font-size: 18px;
  line-height: 1.4;
}

.CTA-button.summer-season-cta-button {
  background: rgba(0,0,0,0.5);
  color: #FFFFFF;
  margin-right: 10px;
  /* backdrop-filter: blur(8px); */
  font-variant: small-caps;
}

.faq h3 {
  text-align: left;
  margin-bottom: 25px;
  margin-top: 15px;
}

.white {
  color: white;
  text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

.rooms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.room-photo {
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 10px;
  border-radius: 3px;
}
@media screen and (max-width: 1340px) {
  .room-photo {
    width: 200px;
    height: 200px;
  }
}

#request-button {
  font-style: italic;
  cursor: pointer;
  font-size: 18px;
  color: #888;
}