:root {
  --light-goldish: #ebba57;
  --goldish: rgb(188, 120, 36);
  --lightest-greyish: #aaa;
  --light-grey: #888;
  --greyish: #666666;
  --dark-greyish: rgb(80 80 80 / 80%);
  --green: #4CAF50;
  --dark-green: #2E7D32;
  --light-green: #81C784;
}

/* Then you can use it like this */
.element {
  background: var(--main-color);
  border: 0px solid var(--main-color);
}

body {
  font-family: verdigris-mvb-pro-text, serif;
  /* max-width: 1100px; */
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--greyish);
}

@media (max-width: 800px) {
  body {
    padding: 15px;
  }
}

@media (max-width: 800px) {
  section.blogroll-section {
      display: block;
  }

  .event-description {
      margin-left: auto;
      margin-right: auto;
  }

  .blogosphere {
      margin-left: auto;
      margin-right: auto;
  }

  section.FAQ-section {
      display: block;
  }

  .campus-map {
      margin-right: auto;
      margin-left: auto;
  }

  .faq-text {
      margin-right: auto;
      margin-left: auto;
  }

  section.campus-section {
      display: block;
  }

  .text-section.buildings {
      margin-right: auto;
      margin-left: auto;
  }

  a.CTA-button.third {
      display: inline-block;
      margin-bottom: 10px;
  }

  img.condensed-image {
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 50%;
}

p, li {
  font-family: verdigris-mvb-pro-text, serif;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 1em;
}

.subtitle {
  font-family: verdigris-mvb-pro-text, serif;
  font-size: 36px;
  line-height: 1.4;
  margin-bottom: 2px; /* or 2px? */
  text-shadow: 0px 0px 3px rgba(0,0,6,1);
}

li {
  margin-bottom: 0.3em;
}

aside {
  font-size: 16px;
}

.event-description a {
  color: var(--light-goldish)
}

p a {
  color: var(--light-goldish)
}

h1 {
  font-size: 122px;
  margin-bottom: 5px;
  line-height: 1;
  font-weight: 300;
  /* letter-spacing: 0.1em; */
  font-variant: small-caps;
  text-shadow: 0px 0px 5px rgba(0,0,0,1);

  /* color: rgba(50,50,50); */
}

section {
  padding-top: 60px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  z-index: 5;
  position:relative;
  /* flex-wrap: wrap; */
}
@media screen and (max-width: 750px) {
  .navbar-title {
    display:none;
  }
}

.logo {
  display:flex;
  /* align-content: center; */
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.logo-image {
/*     transform: rotate(90deg); */
  width: 30px
}
.CTA-button-navbar, .CTA-button-chat {
  background: none;
  border: 0px;
  opacity: 50%;
  font-style: italic;
  display: inline-block;
  flex-shrink: 0;
}

.CTA-button-center {
  display: inline-block;
  background: var(--goldish);
  border: 0px solid;
  opacity: 50%;
  /* font-style: italic; */
  padding: 24px;
  border-radius: 6px;
  margin-top: 16px;
  margin-bottom: 24px;
  color: white;
  text-transform: uppercase;

  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.CTA-button-center:hover {
  opacity: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.CTA-button {
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px;
}

.CTA-button.primary {
  background: var(--goldish);
  color: white;
  margin-right: 10px;
}

.CTA-button.secondary {
  border: solid 1px var(--goldish);
  color: var(--goldish);
  margin-right: 10px;
  background: white;;
}

.CTA-button.third {
  background: var(--goldish);
  color: white;
  margin-right: 10px;
  font-size: 24px;
  padding: 12px 18px;
  opacity: 100%;
}
.CTA-button.third:hover {
  background: var(--light-goldish);
}

.top-image {
  width: 250px;
  height: 250px;
  margin-bottom: 36px;
}

.splash-image {
  width: 850px;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 700px) {
  .splash-image {
    width: 100%;
  }
}

.background-image {
  background-image: url('https://cdn.discordapp.com/attachments/1086441174245593118/1219835448545906738/image.png?ex=660cbf4a&is=65fa4a4a&hm=6ec6ca481d73b15d7a4fbf9bb5cf303156daa3452cb4055ef55f1ee0f5bf53ee&');
  background-size: cover;
  background-position: center;
  /* height: 800px; */
  position: relative;
  padding-bottom: 140px; /* Set a fixed height for the background image */
}
.background-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px; /* Set a fixed height for the background image */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.splash-section {
  margin-top: -88px;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 50px;
}

.splash-text {
  /* width: 420px; */
  top: 50px;
  /* left: calc(50% - 360px); */
  position: relative; /* changed from absolute */
  text-align: center;
  color: white;
  padding-top: 100px;
}

@media (max-width: 900px) {
  .splash-text {
    top: 525px;
  }
}
@media (max-width: 800px) {
  .splash-text {
    top: 450px;
  }
}
@media (max-width: 750px) {
  .splash-text {
    position: relative;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    margin-bottom: 50px;
    width:100%; 
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 50px;
  }
}

.splash-title {
  font-size: 50px;
}

.condensed-image {
  width: 40%;
  margin-top: 0px;
}



.cta-row {
  z-index: 2;
  margin: 40px;
  margin-bottom:59px;
}

.campus-section {
  display: flex;

  row-gap: 12px;
  column-gap: 50px;
  /* flex-flow: row wrap; */
  align-items: flex-end;
  flex-wrap: wrap;
  /* align-content: center; */
  /* justify-items: center; */
  justify-content: space-evenly
}

.blogroll-section {
  display: flex;
  flex-direction: row;
  /* row-gap: 12px; */
  column-gap: 80px;
  /* flex-flow: row wrap; */
  /* align-items: flex-end; */
  /* flex-wrap: wrap; */
  /* align-content: center; */
  /* justify-items: center; */
  justify-content: center;
  min-height: 600px;
  padding-left: 60px;
  padding-right: 60px;
}

.blogroll-title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 26px;
}

.blogroll-subtitle {
  display: block;
  font-size: 19px;
  color: grey;
  font-style: italic;
  text-wrap: balance;
}

.ben-testimonial {
  width: 30%;
  text-align: left;
  margin-right: 100px;
  margin-top:10px;
  margin-bottom:auto;
}

.blogosphere {
  width: 80%;
  max-width: 1400px;
  align-items: center;
  justify-content: center;
  /* padding-top: 50px; */
  flex: 3.5;
  min-width: 300px;
}

.text-section {
  width: 60%;
  max-width: 550px;
  /* padding-top: 50px; */
  flex: 3.5;
  min-width: 300px;
}

.event-description {
  width: 60%;
  max-width: 450px;
  /* padding-top: 50px; */
  flex: 3.5;
  min-width: 300px;
}


@media (max-width: 650px) {
  .CTA-button-navbar {
      display: none;
  }
}

h2 {
  font-family: verdigris-mvb-pro-text, serif;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--dark-greyish);
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-family: verdigris-mvb-pro-text, serif;
  font-style: normal;
  font-size: 23px;
  line-height: 25px;
  font-weight: 500;
  color: var(--greyish);
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 50px;
  margin-top: 60px;
}

.content-area {
  display: flex;
  flex-direction: column;
}

.event {
  display: flex;
  flex-direction: column;
  padding: 16px;
  /* box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.1); */
  border-radius: 15px;
  max-width: 300px;
  min-width: 300px;
  flex: 1;
}

.event p {
  font-size:18px;
}

.events {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

h4 {
  font-family: verdigris-mvb-pro-text, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color:  rgb(209, 164, 109);
  margin-bottom: 15px;
  fill: hsl(40deg 79% 52%);
}

.center-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.center-section h2 {
  text-align: center;
}

.FAQ-section {
  display: flex;
  flex-direction: row;
  /* align-items: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; */
  /* row-gap: 12px; */
  column-gap: 90px;
  align-items: flex-start;
  padding: 100px;

  /* justify-content: space-evenly */

  /* width: 720px;
  left: calc(50% - 460px);
  position: relative; changed from absolute */

}

.campus-section {
  display: flex;

  row-gap: 12px;
  column-gap: 50px;
  /* flex-flow: row wrap; */
  align-items: flex-end;
  flex-wrap: wrap;
  /* align-content: center; */
  /* justify-items: center; */
  justify-content: space-evenly
}

.faq-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 800px;
  margin-top: 0;
}

.splash-text {
  /* width: 420px; */
  top: 50px;
  /* left: calc(50% - 360px); */
  position: relative; /* changed from absolute */
  text-align: center;
  color: white;
  padding-top: 100px;
  padding-bottom: 200px;
}

.event button {
  margin-top: auto;
  border: 0px;
  background: none;
  color: var(--light-goldish);
  padding: 0px;
}

.event h4 {
  display: flex;
  align-items: center;
}

.event-posting {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.event img {
  height: 300px;
  width: 300px;
  margin-left: 0px;
  padding-bottom: 24px;
  object-fit: cover;
}

.event-posting h1 {
  margin-top: 50px;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
}

.member {
  /* width: 250px; */
  max-width: 320px;
  min-width: 250px;
  flex: 1;
  display: block;
}
.buildings {
  margin-bottom:auto;
  margin-top:auto;
}

.buildings p, .buildings li {
  font-size: 18px;
}
.buildings li {
  position: relative;
  list-style-type: none;
}

.buildings li::before {
  content: ''; /* Empty content */
  width: 7px; /* Square size */
  height: 7px; /* Square size */
  border-radius:50%;
  background: var(--lightest-greyish); /* Color of the square */
  font-size: 20px; /* Adjust size as needed */
  position: absolute;
  left: -25px; /* Adjust position as needed */
  top: 50%;
  transform: translateY(-50%);
}

.buildings b {
  font-variant: small-caps;
  font-size: 18px;
  font-weight:500;
}

.photo-row {
  margin-left:-30px;
  margin-right:-30px;
  display: flex;
  justify-content: center;
  margin-top:0px;
  max-height: 680px;
  overflow: hidden;
  margin-bottom:20px;
}

.photo-link {
  min-width: 320px;
  width: 320px;
  height: 340px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.photo-link:hover {
  opacity:1;
}

.event-photo {
  width: 300px;
  height: 300px;
  transition: all 0.2s ease-in-out;
  margin: 20px;
  border-radius:5px;
}

.photo-row-wide {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  width: 1500px;
  justify-content: center;
}

.photo-wide {
  min-width: 320px;
  width: 320px;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out; 
  margin: 20px;
  border-radius:5px;
}
.photo-mosaic {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 210px; /* Adjusted to set a minimum row height */
  grid-gap: 10px; /* Adjusted the grid gap to ensure it's not larger than 10px */
  margin: 0 auto; /* Adjusted to center the content horizontally */
  max-width: 1350px;
  padding: 10px; /* Added padding to ensure content is not against the container edges */
}

.photo-mosaic .small {
  width: 100%; /* Adjusted to ensure the content scales with the grid */
  height: 100%; /* Adjusted to ensure the content scales with the grid */
  object-fit: cover;
  border-radius: 5px;
}

.large {
  grid-column: span 2; 
  grid-row: span 2;    
  width: 100%; /* Adjusted to ensure the content scales with the grid */
  height: 100%; /* Adjusted to ensure the content scales with the grid */
  object-fit: cover;
  border-radius: 5px;
}

.photo:hover {
  opacity:.8  ;
  /* width: 310px;
  height: 310px; */
}

/* Styles for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#prev-button,
#next-button {
  cursor: pointer;
  font-size: 32px;
  padding: 10px;
  margin: 0 20px;
}

/* Style for the close button */
.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.modal-photo {
  max-height:95vh;
}

@media (max-width: 500px) { 
  .CTA-button-navbar {
      display: none;
  }
}
@media (max-width: 735px) {
  .photo-link {
    width: 170px;
    height: 180px;
    min-width:170px;
    margin: 8px;
  }

  .p {
    font-size: 18px;
  }

  .photo {
    width: 170px;
    object-fit: contain;
    height: auto;
    margin: 8px;
  }

  .event {
    flex-direction: row;
    align-items: center;
    max-width: unset;
    padding: 4px;
  }

  .event img {
    width: calc(50% - 36px);
    height: auto;
    margin-right: 24px;
  }

  .event p {
    font-size: 16px;
  }
/* 
  .campus-image {
    width: calc(100% - 30px);
  } */

  .ben-testimonial {
    width: calc(100% - 30px);
  }
}

.end-logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 75px;
  width: 80px;
  height: 80px;
  opacity: .5
}

.testimonials {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
.testimonial {
  max-width: 35%;
  padding: 24px 48px;
  background: #efefef;
  color:rgba(0, 0, 0, 0.8);
  padding: 36px 36px 30px 36px;
  margin: 24px;
  border-radius:5px;
}
.testimonial p:last-of-type {
  margin-bottom: 0px;
  color: var(--light-grey);
}

.testimonial p {
  font-size: 18px;
  /* color: #888; */
}
.testimonial-author {
  text-align: right;
}
@media (max-width: 1000px) {
  .testimonial {
    margin: 16px;
    max-width: 50%;
  }
}
@media (max-width: 750px) {
  .testimonial {
    max-width: 100%;
    margin:0;
    padding: 24px;
  }
}

.hero-video {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.schelling-splash-image {
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.white-gradient-down {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  z-index: 1;
}

.white-gradient-up {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  z-index: 1;
}

.schelling-title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  /* color: rgba(255,255,255,.9); */
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.5); */
}

.after-hero {
  margin-top:calc(50vh + 20px);
}
.schelling-season-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
}
.center-text {
  text-align: center;
}
.schelling-season-section h2 {
  text-align: center;
}

.sticky {
  position: sticky;
  top: 64px;
}

.schelling-splash-text {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  text-align: center;
  margin-bottom: 48px;
}

.schelling-cta-row {
  margin-top: 50px
}

.schelling-title-h1 {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
  color:rgba(0, 0, 0, 0.7);
  text-shadow: 0px 0px 20px rgba(255,255,255,0.6);
}

.schelling-season-background {
  background: url('public/schelling-splash.jpg')
}

.opening-text {
  line-height: 1.5em;
  max-width: 500px;
  margin: auto;
  margin-bottom: 25px;
  font-size: 1.2rem;
}

.faq h3 {
  text-align: left;
  margin-bottom: 25px;
  margin-top: 15px;
}

.white {
  color: white;
  text-shadow: 0px 0px 0px rgba(0,0,0,0.5);
}

.rooms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.room-photo {
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 10px;
  border-radius: 3px;
}
@media screen and (max-width: 1340px) {
  .room-photo {
    width: 200px;
    height: 200px;
  }
}

.ribbon {
  overflow: hidden;
  margin-top: 20px; /* Adjust the margin as needed */
}

.ribbon a {
  color: var(--dark-greyish); /* Set the default color for the links */
}

.ribbon a::hover {
  color: white; /* Set the color when hovering over the links */
}
.divider {
  margin: 0 5px; /* Adjust the spacing between names and dividers */
  color: var(--dark-greyish); /* Color of the divider */
}

.marquee {
  white-space: nowrap;
  animation: marquee 50s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.blogs {
  /* white-space: nowrap; */
  position: relative;
  text-align: center;
  z-index: 1; /* Add a higher z-index value to override gradient*/  
  font-size: 18px; /* Remove the default font-size */
}

.blogs .attending a {
  display: inline-block;
  color: var(--green);
  opacity: 0.8;
  text-shadow: 0 0 0px #00000082;
  text-decoration: none;
  transition: color 0.1s;
  /* padding: 5px; Add padding for better click area */
  margin-left: 18px;
}

.blogs .not a {
  display: inline-block;
  color: var(--lightest-greyish);
  opacity: 0.8;
  text-shadow: 0 0 0px #00000082;
  text-decoration: none;
  transition: color 0.1s;
  /* padding: 5px; Add padding for better click area */
  margin-left: 18px;
}

.attending {
  color: var(--green);
}

.blogs a:hover {
  color: var(--light-goldish);
  opacity: 1;
}

.divider {
  margin: 0 5px; /* Adjust the spacing between names and dividers */
  color: var(--dark-greyish); /* Color of the divider */
}

.attendees-key {
  z-index: 1;
  text-align: center;
  padding-bottom: 20;
  position: relative;
  color: var(--green);
  font-size: 18px;
  text-shadow: 0px 0px 0px rgba(0,0,0,1);
}

.blog-name {
  display: inline-block;
}

.hidden {
  display: none;
}

.faq-item {
  margin-bottom: 20px;
  display: flex;
  cursor: pointer;
}

.q-and-a {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.faqIcon {
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  vertical-align: top;
  transform-origin: center;
}

.question {
  cursor: pointer;
}

.down {
  display: inline-block;
  color: var(--green);
  transform: rotate(90deg); /* Rotates the carrot to face down */
}

#toggleCheckbox {
  z-index: 1;
  position: relative;
  transform: scale(1.3); /* Adjust the scale value as needed */
  margin-right: 8px; /* Adjust the margin as needed */
}

.blog-checkbox:hover {
  color: var(--light-green);
}

.info {
  font-size: 20px;
  text-shadow: 0 0 6px BLACK;
}

.info-icon {
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.info-icon .info-popup {
  visibility: hidden;
  background-color: var(--light-grey);
  color: #fff;
  text-align: left;
  border-radius: 10px;
  padding: 12px 12px;
  position: absolute;
  z-index: 1;
  max-width: 800px;
  /* bottom: 125%;
  left: 50%; */
  margin-left: -900px;
  margin-top: 200px;
  opacity: 1;
  transition: opacity 0.3s;
}

/* .info-icon .info-popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */

.info-icon:hover .info-popup {
  display: inline-block;
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.blogroll-title-info {
  text-align: center;
}

.footnote {
  position: relative;
  cursor: help;
  color: var(--light-goldish);
}

.tooltip {
  visibility: hidden;
  width: 150px;
  /* background-color: black; */
  color: var(--lightest-greyish);
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 100%;
  margin-top: -10px;
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.footnote:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.campus-map {
  width: 60%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}