body {
  font-family: verdigris-mvb-pro-text, serif;
  /* max-width: 1100px; */
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #666666;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 50%;
}

p, li {
  font-family: verdigris-mvb-pro-text, serif;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 1em;
}

li {
  margin-bottom: 0.3em;
}

aside {
  font-size: 16px;
}

p a {
  color: #ebba57
}

h1 {
  font-size: 72px;
  margin-bottom: 5px;
  line-height: 1.3;
  font-weight: 300;
  letter-spacing: 0.1em;
  /* color: rgba(50,50,50); */
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  z-index: 5;
  position:relative;
  /* flex-wrap: wrap; */
}
@media screen and (max-width: 750px) {
  .navbar-title {
    display:none;
  }
}

.logo {
  display:flex;
  /* align-content: center; */
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.logo-image {
/*     transform: rotate(90deg); */
  width: 30px
}
.CTA-button-navbar, .CTA-button-chat {
  background: none;
  border: 0px;
  opacity: 50%;
  font-style: italic;
  display: inline-block;
  flex-shrink: 0;
}

.CTA-button-center {
  display: inline-block;
  background: rgb(188, 120, 36);
  border: 0px solid;
  opacity: 50%;
  /* font-style: italic; */
  padding: 24px;
  border-radius: 6px;
  margin-top: 16px;
  margin-bottom: 24px;
  color: white;
  text-transform: uppercase;

  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.CTA-button-center:hover {
  opacity: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.CTA-button {
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px;
}

.CTA-button.primary {
  background: rgb(188, 120, 36);
  color: #FFFFFF;
  margin-right: 10px;
}

.CTA-button.secondary {
  border: solid 1px rgb(188, 120, 36);
  color: rgb(188, 120, 36);
  margin-right: 10px;
}

.top-image {
  width: 250px;
  height: 250px;
  margin-bottom: 36px;
}

.splash-image {
  width: 950px;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 700px) {
  .splash-image {
    width: 100%;
  }
}


.splash-section {
  margin-top: -158px;
  margin-bottom: 0px;
}

.splash-text {
  width: 420px;
  top: calc(50% + 155px);
  left: calc(50% - 366px);
  position: absolute;
  text-align: center;
}

@media (max-width: 1000px) {
  .splash-text {
    top: calc(50% + 95px);
  }
}
@media (max-width: 900px) {
  .splash-text {
    top: calc(50% - 20px);
  }
}
@media (max-width: 800px) {
  .splash-text {
    top: calc(50% - 40px);
  }
}
@media (max-width: 750px) {
  .splash-text {
    position: relative;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    margin-bottom: 50px;
    width:100%; 
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 50px;
  }
}

.splash-title {
  font-size: 50px;
}

.campus-image {
  width: 40%;
  margin-right: 50px;
  margin-top:auto;
  margin-bottom:auto;
}

.cta-row {
  margin-top: 40px;
}

.banner-section {
  display: flex;

  row-gap: 12px;
  column-gap: 50px;
  /* flex-flow: row wrap; */
  align-items: flex-end;
  flex-wrap: wrap;
  /* align-content: center; */
  /* justify-items: center; */
  justify-content: center;
}
.text-section {
  width: 60%;
  max-width: 550px;
  padding-top: 50px;
  flex: 3.5;
  min-width: 300px;
}

@media (max-width: 650px) {
  .CTA-button-navbar {
      display: none;
  }
}
.image-section {
  width: 50%;
  /* max-width: 300px; */
  justify-self: center;
  align-self: center;
  flex: 2;
  min-width: 300px;
  max-width: 400px;
}

h2 {
  font-family: verdigris-mvb-pro-text, serif;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgb(80 80 80 / 80%);
  margin-bottom: 50px;
  margin-top: 75px;
  font-weight: 300;
}

h3 {
  font-family: verdigris-mvb-pro-text, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 25px;
  color: #666666;
  margin-bottom: 10px;
}

.project p {
  font-family: verdigris-mvb-pro-text, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(102, 102, 102, 0.7);
}

.project {
  margin-bottom: 32px;
  display: block;
}

.content-area {
  display: flex;
  flex-direction: column;
  /* gap: 60px; */
}

.event {
  display: flex;
  flex-direction: column;
  padding: 16px;
  /* box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.1); */
  border-radius: 15px;
  max-width: 300px;
  min-width: 300px;
  flex: 1;
}

.event p {
  font-size:18px;
}

.events {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

h4 {
  font-family: verdigris-mvb-pro-text, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color:  rgb(209, 164, 109);
  margin-bottom: 15px;
  fill: hsl(40deg 79% 52%);
}

.center-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.center-section h2 {
  text-align: center;
}

.event button {
  margin-top: auto;
  border: 0px;
  background: none;
  color: #ebba57;
  padding: 0px;
}

.event svg, .event img {
  height: 1.5em;
  margin-right: 8px
}

.event h4 {
  display: flex;
  align-items: center;
}

.event-posting {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.event img {
  height: 300px;
  width: 300px;
  margin-left: 0px;
  padding-bottom: 24px;
}

.event-posting h1 {
  margin-top: 50px;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
}

.member {
  /* width: 250px; */
  max-width: 320px;
  min-width: 250px;
  flex: 1;
  display: block;
}

.buildings p, .buildings li {
  font-size: 18px;
}
.buildings li {
    position: relative;
    list-style-type: none;
}

.buildings li::before {
    content: ''; /* Empty content */
    width: 7px; /* Square size */
    height: 7px; /* Square size */
    border-radius:50%;
    background: #aaa; /* Color of the square */
    font-size: 20px; /* Adjust size as needed */
    position: absolute;
    left: -25px; /* Adjust position as needed */
    top: 50%;
    transform: translateY(-50%);
}

.buildings ul {
  margin-top: 6px;
  margin-bottom:6px;
}
.buildings b {
  font-variant: small-caps;
  font-size: 18px;
  font-weight:500;
  /* color: #b57f3f */
}

.photo-row {
  margin-left:-30px;
  margin-right:-30px;
  display: flex;
  justify-content: center;
  margin-top:0px;
  max-height: 680px;
  overflow: hidden;
  /* background-color: rgb(236, 228, 216); */
  margin-bottom:20px;
}

.photo-link {
  min-width: 320px;
  width: 320px;
  height: 340px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.photo-link:hover {
  opacity:1;
}

.event-photo {
  width: 300px;
  height: 300px;
  transition: all 0.2s ease-in-out;
  margin: 20px;
  border-radius:5px;
}

.photo-row-wide {
  margin-left:-30px;
  margin-right:-30px;
  display: flex;
  justify-content: center;
  max-height: 680px;
  overflow: hidden;
}

.photo-wide {
  min-width: 320px;
  width: 320px;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out; 
  padding: 20px;
  border-radius:5px;
}

.photo:hover {
  opacity:.8  ;
  /* width: 310px;
  height: 310px; */
}

/* Styles for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#prev-button,
#next-button {
  cursor: pointer;
  font-size: 32px;
  padding: 10px;
  margin: 0 20px;
}

/* Style for the close button */
.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.modal-photo {
  width: 800px
}

@media (max-width: 500px) { 
  .CTA-button-navbar {
      display: none;
  }
}
@media (max-width: 735px) {
  .photo-link {
    width: 170px;
    height: 180px;
    min-width:170px;
    margin: 8px;
  }

  .p {
    font-size: 18px;
  }

  .photo {
    width: 170px;
    object-fit: contain;
    height: fit-content;
    margin: 8px;
  }

  .event {
    flex-direction: row;
    align-items: center;
    max-width: unset;
  }

  .event img {
    width: calc(50% - 36px);
    height: fit-content;
    margin-right: 24px;
  }

  .event p {
    font-size: 16px;
  }

  .campus-image {
    width: calc(100% - 30px);
  }
}

.end-logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 75px;
  width: 100px;
  height: 100px;
  opacity: .5
}